name: Release

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read
  deployments: write

jobs:
  tests:
     uses: git@github.com:gavdilabs/solutioncentral/.github/workflows/test.yaml@main
     secrets: inherit
